<%= render 'layouts/header'%>
<div class="container d-flex h-75 ">
    <div class="container justify-content-center align-self-center">
        <div class="row text-light">
            <h1>apelandia</h1>
        </div>
        <div class="row col-5 p-0 text-muted">
            <h3>a platform for the injured to get help from local professionals.</h3>
        </div> 
    </div>
</div>

<%= render 'layouts/footer' %>

